@charset "UTF-8";

/* Web Font Load */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/* KaTex_Math Font Load */
@font-face {
  font-family: 'KaTex_Math_Italic';
  src: url('https://tistory4.daumcdn.net/tistory/4700529/skin/images/KaTeX_Math-Italic.ttf');
}

/* KoPub Font Load */

@font-face {
  font-family: 'KoPubWorld Batang Light';
  src: url('../fonts/KoPubWorld\ Batang_Pro\ Light.otf');
}

@font-face {
  font-family: 'KoPubWorld Dotum Light';
  src: url('../fonts/KoPubWorld\ Dotum_Pro\ Light.otf');
}

@font-face {
  font-family: 'KoPubWorld Dotum Medium';
  src: url('../fonts/KoPubWorld\ Dotum_Pro\ Medium.otf');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #252525;
}

.container {
  height: 100vh;
  font-family: 'KoPubDotumMedium';
  width: 100%;
  display: flex; /* flexbox를 사용하여 내부 아이템을 정렬합니다. */
  justify-content: space-between;
}

.wrapper {
  height: 100%;
  box-sizing: border-box; /* padding과 border를 포함한 전체 너비를 유지합니다. */
}

.wrapLeft {
  width: 55%;
  position: relative;
  border-right: 1px solid #525252;
}

.wrapRight {
  width: 45%;
  height: 100%;
  overflow: auto;
  font-family: 'KoPubWorld Dotum Light';
}

.wrapLeft div.resize-handler {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  cursor: e-resize;
  background-color: #353535;
}

.wrapLeft div.resize-handler:hover {
  width: 6px;
  background-color: #0987b6;
}

/* 버튼리스트 - 명령어 */
div#btnList_command {
  width: 100%;
  /* height: 60px; */
  background-color: #454545;
  float: left;
  text-align: center;
  /* background-color: aqua; */
  border-top: 1px solid #525252;
  /* 텍스트가 가로로 넘칠 때 자동 줄바꿈 방지 */
  /* white-space: nowrap; */
  overflow-x: auto;
}

div#btnList_command button {
  margin: 5px 1px;
  min-width: 50px;
  height: 25px;
  padding: 0px;
  border-radius: 5px;
  background-color: #454545;
  color: #aaa;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.txt_inputData {
  width: 100%;
  /* height: calc(100% - 372px - 30px); */
  height: calc(100% - var(--infoHeight) - 255px);
  float: left;
  background-color: #252525;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  resize: vertical;
  color: #aaa;
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 300;
  border-top: 1px solid #525252;
  font-family: 'KoPubWorld Dotum Light';
}

.txt_outputHtml {
  width: calc(100% - 370px - 115px);
  height: 340px;
  float: right;
  background-color: #252525;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  resize: vertical;
  color: #aaa;
  font-size: 10px;
  font-weight: 300;
  overflow-x: auto; /* 가로 스크롤 생성 */
  white-space: nowrap; /* 텍스트가 가로로 넘칠 때 자동 줄바꿈 방지 */
  font-family: 'KoPubWorld Dotum Light';
}

/* div : post view */
div.postView {
  padding: 100px 10px 100px 10px;
  width: auto;
  height: auto;
  /* max-width: 760px; */
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

/* 팝업을 감싸는 div의 스타일 */
.popup-wrapper {
  display: none; /* 처음에는 보이지 않도록 설정 */
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
  z-index: 9999; /* 다른 요소들보다 위에 위치하도록 설정 */
  justify-content: center;
  align-items: center;
  font-family: 'KoPubWorld Dotum Light';
}

/* 팝업 내용을 담는 div의 스타일 */
.popup-content {
  background-color: #252525;
  color: #aaa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* 최대 너비 설정 */
  max-height: 80%; /* 최대 높이 설정 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  font-family: 'KoPubWorld Dotum Light';
}

.popup-content button {
  width: 20%;
  height: 30px;
  margin: 20px calc(80% / 2);
  float: left;
  padding: 0px;
  border-radius: 5px;
  background-color: #454545;
  color: #aaa;
  border: none;
  font-size: 12px;
  cursor: pointer;
  font-family: 'KoPubWorld Dotum Light';
}

.menu {
  width: 370px;
  height: 340px;
  float: left;
  background-color: #252525;
  margin: 0;
  padding: 13px 15px;
  box-sizing: border-box;
  border-right: 1px solid #525252;
  font-size: 12px;
  font-family: 'KoPubWorld Dotum Light';
}

.menu textarea {
  width: 330px;
  height: 20px;
  color: #aaa;
  background-color: #353535;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 6px;
  padding: 5px;
  font-family: 'KoPubWorld Dotum Light';
}

.menu textarea#txt_tag {
  width: 155px;
  margin-right: 5px;
}

.menu textarea#txt_tag2 {
  width: 155px;
}

.menu textarea#txt_info {
  height: 181px;
  line-height: 1.2em;
  overflow-x: auto; /* 가로 스크롤 생성 */
  white-space: nowrap; /* 텍스트가 가로로 넘칠 때 자동 줄바꿈 방지 */
  font-family: 'KoPubWorld Dotum Light';
}

/* 버튼리스트 - 정렬 등 */
.btnList {
  width: 115px;
  height: 340px;
  float: left;
  background-color: #252525;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #525252;
  /* overflow: scroll; */
  font-size: 12px;
  font-family: 'KoPubDotumLight';
}

.btnList button {
  width: 95px;
  height: 26px;
  padding: 0px;
  border-radius: 5px;
  background-color: #454545;
  color: #aaa;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin: 3px 0;
  font-family: 'KoPubDotumLight';
}

.btnList hr {
  border: 1px solid #525252;
  margin: 5px 0px;
}

/* .btnList hr 위아래 버튼 마진 0 변경 */

.btnList #btn .btnList button:hover {
  background-color: #656565;
}

.btnList button:active {
  background-color: #151515;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 15px;
  background-color: #525252;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-button {
  width: 5;
  height: 5;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
  border: 1px none;
}
::-webkit-resizer {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

textarea:focus,
.menu button {
  outline: none;
}
