@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}

div.container {
  width: 100%;
  height: 100vh;
  background-color: #252525;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

div.container div.navBar {
  width: 50px;
  height: 100%;
  background-color: #252525;
  border-right: solid 2px #353535;
}

div.container div.navBar div {
  width: 100%;
  height: 50px;
  background-color: #353535;
  margin-bottom: 10px;
}

div.container div.wrapper {
  height: 100%;
  background-color: #252525;
  overflow: auto;
}

div.container div.wrapLeft {
  width: 60%;
  position: relative;
}

div.container div.wrapLeft div.resize-handler {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  cursor: e-resize;
  background-color: #353535;
}

div.container div.wrapLeft div.resize-handler:hover {
  width: 6px;
  background-color: #0987b6;
}

div.container div.wrapRight {
  width: 40%;
}
